# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# misc
.idea

# user generated
.envrc
git_diff.dat
git_show_head.dat
flyway.log
chatbot.db
set_credentials.sh
